.home-link {
  list-style-type: none;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 2;
}

.item-card {
  width: 400px;
  height: 400px;
  
  .item-image {
    width: 300px;
    height: 300px;
  }

  .item-name {
  }

  .item-btn {
    width: 100px;
    vertical-align: center;
  }

}


html, body {
  max-height: 100%;
  width: 100%;
}

body {
  margin: 0;
  color: #000;
}

.app {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
 
  > header,
  > main,
  > footer {
    padding: 1rem;
    text-align: center;
    transition: 200ms;
    &:hover {
      box-shadow: 0 0 2rem gray;
    }
  }

  > header {
    display: flex;
    justify-content: flex-start;
    height: 10%;
    background: #586F7C;
    
    a {
      text-decoration: none;
      color: #fff;
    }
  }

  > main {
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    background: #F4F4F9;
    height: 80%;
    display: inline;

    form {
    }
  }
  
  > footer {
    display: flex;
    justify-content: flex-start;
    background: #586F7C;
    height: 10%;
    
    .metamask {
      width: 15%;
    }
  }
}
